

  body{
    cursor: default;
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: royalblue;
    color: white;
    font-family: Arial;
    font-variant: small-caps;
  }

  #header{
    position: fixed;
  }

  #slider_box{
    position: fixed;
    width: 95%;
    left: 2.5%;
    z-index: 1000;
    opacity: 0.8;
    top: 50px;
    font-variant: normal;
  }

  #custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }

  #prof_box{
    left:0;
    width:50%;
    position: fixed;
  }

  #prof_label, #pred_label{
    top:270px;
    position: absolute;
    background-color: white;
    color: royalblue;
    text-align: center;
    font-size-adjust: 1.2;
    font-style: italic;
    padding: 10px;

  }

  #prof_label{
    right: 200px;
  }

  #pred_label{
    left: 200px;
  }

  #pred_box{
    right:0;
    width: 50%;
    position: absolute;
  }

  #label_box{
    position:fixed;
    width:50%;
    right:0;
  }


  #sortable1, #sortable2 {
    border: 2px solid #eee;
    border-radius: 20px;
    align-items: center;
    width: 160px;
    min-height: 20px;
    list-style-type: none;
    margin: 5px;
    padding: 5px 0 0 0;
  }
  #sortable1 li, #sortable2 li {
    border: 1px solid #eee;
    border-radius: 20px;
    margin: 0 5px 5px 5px;
    padding: 5px;
    background-color: #513AA5;
    font-size: 1.2em;
    text-align: center;
    left: 50%;
    cursor: pointer;
  }

  #sortable1{
    position: absolute;
    top: 270px;
    right: 0;
  }

  #sortable2{
    position: absolute;
    top: 150px;
    left: 0;
  }

