<!doctype html>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="jquery.ui.touch-punch.min.js"></script>

  <script src="{{url_for('static', filename='myscript.js')}}"></script>
  <link rel="stylesheet" href= "{{url_for('static', filename='style.css')}}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <title>Champion Recommender</title>

  <div id="slider">
    <div id="custom-handle" class="ui-slider-handle"></div>
  </div>

    <div>
    <ul id="sortable1" class="connectedSortable">
    {% for champion in list1 %}
      <li id = "item_{{champion}}">
        <input type="hidden" name="profile[]" value={{champion}} /> {{champion}}
      </li>
    {% endfor %}
    </ul>
  </div>

  <div class="container"></div>

  <script>
    $(function(){
        init();
      });
  </script>


</html>
